PORT=3000
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=wagering
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_DEBUG=false
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
LOCALSTACK_AWS_ACCESS_KEY_ID=test
LOCALSTACK_AWS_SECRET_ACCESS_KEY=test
SQS_ENDPOINT=http://localhost:4566
SQS_DOCKER_ENDPOINT=http://localstack:4566
SQS_MAIN_QUEUE_NAME=wager-transactions.fifo
SQS_DLQ_QUEUE_NAME=wager-transactions-dlq.fifo
READINESS_TIMEOUT_MS=2000
